ultralytics
torch 
torchaudio
opencv-python
numpy
easyocr
Pillow
matplotlib  
paddleocr==2.6.1
paddlepaddle==2.6.2 
flask
flask-cors                                                                                                          